<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meupette_attack-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{0,0},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{583,0},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{583,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{583,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{1166,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{1749,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{1749,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{2332,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{2332,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{2915,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{583,0},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{2915,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{0,960},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{583,960},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{583,960},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{1166,960},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{1166,960},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{1749,960},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{1749,960},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{2332,960},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{1166,0},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{1166,0},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{1749,0},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{1749,0},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{2332,0},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{2915,0},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_attack-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{2915,0},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>meupette_attack.png</string>
            <key>size</key>
            <string>{3498,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:343bcb0bbe016c17301c8b18f3a09391:44f52832c7bd6263205c224265ee8b96:c05ce083fcf9e1bb8ad9ef62076bdb90$</string>
            <key>textureFileName</key>
            <string>meupette_attack.png</string>
        </dict>
    </dict>
</plist>
