<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meupette_idle-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{0,0},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_idle-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{583,0},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_idle-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{0,1440},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_idle-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{583,1440},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_idle-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{583,1440},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_idle-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_idle-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_idle-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{583,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_idle-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{583,480},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_idle-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{0,960},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_idle-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{0,960},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_idle-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{583,960},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meupette_idle-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,480}</string>
                <key>spriteSourceSize</key>
                <string>{583,480}</string>
                <key>textureRect</key>
                <string>{{0,1440},{583,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>meupette_idle.png</string>
            <key>size</key>
            <string>{1166,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:127cdde8c96516339820f9563270b406:4b8b5be57ec73ccd89154e457fc2e523:c939a07756bab0cc8166eff9c1304ba9$</string>
            <key>textureFileName</key>
            <string>meupette_idle.png</string>
        </dict>
    </dict>
</plist>
