<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainCharacter-right-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainCharacter-right-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{99,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainCharacter-right-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{197,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainCharacter-right-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{99,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainCharacter-right.png</string>
            <key>size</key>
            <string>{294,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9138d2c1935a0827fea1c4e21ee42773:bd7909685d3b7433a8d184a0e3a1078d:4324528e5c88671451c7f27ebd19a7e2$</string>
            <key>textureFileName</key>
            <string>mainCharacter-right.png</string>
        </dict>
    </dict>
</plist>
